extends ./layout/index

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="nosotros.jpg", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in metus fringilla elit sagittis ultrices nec vel ante. Fusce malesuada vitae enim quis sagittis. Duis maximus neque vel libero ultrices, vitae consequat elit feugiat. Maecenas at lorem blandit, dapibus arcu in, fermentum orci. Pellentesque porta, nisi vitae iaculis ornare, sem tellus consectetur orci, sed sollicitudin diam nisl nec orci. Nullam condimentum lectus a pretium commodo.

                p Duis rutrum, eros nec lobortis viverra, orci libero facilisis felis, eu molestie turpis orci non nunc. Sed a lobortis turpis, sed lobortis tellus. Aliquam vel nisl mauris. Aliquam erat volutpat. Nam sagittis vel ante nec placerat. Sed ut lacus tincidunt, vehicula dolor at, dictum leo. Cras nec pellentesque turpis. Ut non malesuada nunc. Cras ornare turpis at pellentesque luctus. Pellentesque accumsan pretium rhoncus. Vestibulum egestas vulputate leo, quis porta elit aliquet ac. Donec vehicula arcu et sem tincidunt, ac elementum leo elementum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam eget tincidunt felis, vitae gravida tortor.

                p Aliquam ac quam fringilla, commodo lorem vel, lacinia lorem. Pellentesque et volutpat lectus, sit amet efficitur nulla. Donec ut consectetur lectus. In fringilla metus vehicula porta porttitor. Praesent interdum feugiat sapien, a suscipit magna sollicitudin quis. Vivamus at vehicula velit, sed dignissim purus. Quisque justo nisi, tincidunt sed lectus eget, vehicula gravida orci. Nullam vehicula faucibus velit, sed sodales arcu venenatis sed. Praesent pharetra dictum orci sed commodo. Ut blandit sem eros. Donec volutpat ante sed blandit posuere. Nullam dignissim, erat ac sagittis malesuada, turpis tellus malesuada erat, eu mollis lectus metus ut turpis. Curabitur eu dolor vitae erat congue porttitor. Nam non lacinia urna. 

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="incono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Curabitur eu dolor vitae erat congue porttitor. Nam non lacinia urna.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="incono de destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Curabitur eu dolor vitae erat congue porttitor. Nam non lacinia urna.

                .col-md-4 
                    img(src="img/icono_precio.svg", alt="incono de precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Curabitur eu dolor vitae erat congue porttitor. Nam non lacinia urna.